---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>
\Comments
      <div id="comments">
  {% case page.comment_count %}
    {% when 0 %}
    {% when 1 %}
      <h1>1 Comment</h1>
    {% else %}
      <h1>{{page.comment_count}} Comments</h1>
  {% endcase %}
  {% for c in page.comments %}
    <div class="comment {% cycle 'odd', 'even' %}">
      <p class="comment_header">
        From: {% if c.link and c.link != '' %}
          <a href="{{c.link}}">{{c.name}}</a>
        {% else %}
          {{c.name}}
        {% endif %}
        <br />
        <span class="comment_date">{{c.date}}</span>
      </p>
      <p>
        {{c.comment | newline_to_br}}
      </p>
    </div>
  {% endfor %}
  <h1>Post a comment</h1>
  <p style="font-style: italic">
    All comments are held for moderation; basic HTML formatting accepted.
  </p>
  <form id="commentform" method="POST" action="{{site.url}}/commentsubmit.php">
    <input type="hidden" name="post_id" value="{{page.id}}" />
    <input type="hidden" name="return_url" value="{{site.url}}{{page.url}}" />
    <table>
      <tr>
        <th>Name:</th>
        <td><input type="text" size="25" name="name" /> (required)</td>
      </tr>
      <tr>
        <th>E-mail:</th>
        <td><input type="text" size="25" name="email" /> (required, not published)</td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><input type="text" size="25" name="link" /> (optional)</td>
      </tr>
      <tr>
        <td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="Submit Comment" /></td>
      </tr>
    </table>
  </form>
</div>


      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
          {% include fb-comment.html %}
      {% endif %}
    </div>
  </div>
</div>
